In [1]:
#### Jupyter Basic Setting ####
import pandas as pd,numpy as np
import matplotlib.pyplot as plt,seaborn as sns  # ì‹œê°í™”
import warnings; warnings.filterwarnings('ignore')  # ê²½ê³  ë¬´ì‹œ
import sys,os 
parent_dir = os.path.dirname(os.getcwd())
parent_dir = os.path.dirname(parent_dir)
sys.path.append(parent_dir)
from Module.Functions import Service
# ê¸°ë³¸ ì„¸íŒ…
Service.plotSetting("seaborn-v0_8")

___ ğŸŸ¡ PLOTSETTING.
______ ğŸ“Œ matplotlibn plot í•œê¸€í™” Setting
___## OS platform í•œê¸€ ì„¸íŒ…ì™„ë£Œ ## ___

In [2]:
dispatch_table=pd.read_csv("../../Data/ì§€í•˜ì² ë°°ì°¨ì‹œê°„ë°ì´í„°/integrated_dispatch.csv")
dispatch_table.tail(3)

,ì—­ì‚¬ì½”ë“œ,í˜¸ì„,ì£¼ì¤‘ì£¼ë§,05,06,07,08,09,10,11,...,15,16,17,18,19,20,21,22,23,24
860,2826,8,SAT,2.0,6.5,7.0,7.0,7.0,7.0,7.0,...,7.5,7.0,7.0,7.0,7.0,7.0,6.5,5.5,4.5,0.5
861,2827,8,DAY,0.5,3.0,4.5,5.5,5.0,3.5,3.5,...,3.0,3.5,3.5,4.5,5.0,4.5,3.5,3.5,3.0,0.5
862,2827,8,SAT,0.5,3.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,3.5,3.5,4.0,3.5,3.0,3.0,3.0,0.5

In [3]:
data_Folder='../../Data/ìŠ¹í•˜ì°¨ì •ì œ'
integrated_df=pd.read_csv(os.path.join(data_Folder,'integrated_18to24_1.csv'),)
integrated_df.tail(3)

,ì—­ì‚¬ì½”ë“œ,ì—­ì´ë¦„,í˜¸ì„,ìˆ˜ì†¡ì¼ì,ìŠ¹í•˜ì°¨êµ¬ë¶„,05ì‹œì¸ì›,06ì‹œì¸ì›,07ì‹œì¸ì›,08ì‹œì¸ì›,09ì‹œì¸ì›,...,18ì‹œì¸ì›,19ì‹œì¸ì›,20ì‹œì¸ì›,21ì‹œì¸ì›,22ì‹œì¸ì›,23ì‹œì¸ì›,24ì‹œì¸ì›,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0
3964512,2826,ìˆ˜ì§„,8,2018-12-31,í•˜ì°¨,18,91,136,356,214,...,451,395,288,248,327,203,387.0,NaN,NaN,NaN
3964513,2827,ëª¨ë€,8,2018-12-31,ìŠ¹ì°¨,55,84,284,425,202,...,334,233,157,180,139,94,189.0,NaN,NaN,NaN
3964514,2827,ëª¨ë€,8,2018-12-31,í•˜ì°¨,15,87,133,329,194,...,387,283,181,216,185,113,828.0,NaN,NaN,NaN

In [15]:
# for i in integrated_df['í˜¸ì„ ']:
#     if 'í˜¸ì„ ' in i :
#         integrated_df['í˜¸ì„ '] = int(i.split('í˜¸ì„ ')[0])

In [19]:
# #Nan data chec
# integrated_df.to_csv(os.path.join(data_Folder,'integrated_18to24_1.csv'),index=None)

In [ ]:
# ì£¼ì¤‘ ì£¼ë§ ì¹¼ëŸ¼ í•¨ìˆ˜ ìƒì„±

In [4]:
# ë‚ ì§œê´€ë ¨ ë½‘ì•„ë‚´ê¸° 

# 'ì£¼ì¤‘ì£¼ë§',
# 'ë…„ë„',
# 'ì›”',
# 'ì£¼ì°¨',
# 'ìš”ì¼',
# 'ê³µíœ´ì¼',
test = Service.dayToIntConvert(integrated_df,'ìˆ˜ì†¡ì¼ì') # 5ë¶„ 34ì´ˆ
print(test.columns)
test.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], inplace=True,axis=1)
test.head()

___ ğŸŸ¡ DAYTOINTCONVERT.
______ ğŸ“Œ STring type ì˜ ë‚ ì§œ (ex 2024-11-23)ë¥¼ ìš”ì¼ë¡œ ë°”ê¾¸ê³  0~6ì— í•´ë‹¹í•˜ëŠ” ìˆ«ìë¡œ ì¹¼ëŸ¼ì„ ìƒì„±í•´ ë°˜í™˜
Index(['ì—­ì‚¬ì½”ë“œ', 'ì—­ì´ë¦„', 'í˜¸ì„ ', 'ìˆ˜ì†¡ì¼ì', 'ìŠ¹í•˜ì°¨êµ¬ë¶„', '05ì‹œì¸ì›', '06ì‹œì¸ì›', '07ì‹œì¸ì›',
       '08ì‹œì¸ì›', '09ì‹œì¸ì›', '10ì‹œì¸ì›', '11ì‹œì¸ì›', '12ì‹œì¸ì›', '13ì‹œì¸ì›', '14ì‹œì¸ì›', '15ì‹œì¸ì›',
       '16ì‹œì¸ì›', '17ì‹œì¸ì›', '18ì‹œì¸ì›', '19ì‹œì¸ì›', '20ì‹œì¸ì›', '21ì‹œì¸ì›', '22ì‹œì¸ì›', '23ì‹œì¸ì›',
       '24ì‹œì¸ì›', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'ìš”ì¼', 'ì£¼ì¤‘ì£¼ë§',
       'ë…„ë„', 'ì›”', 'ì£¼ì°¨', 'ê³µíœ´ì¼'],
      dtype='object')

,ì—­ì‚¬ì½”ë“œ,ì—­ì´ë¦„,í˜¸ì„,ìˆ˜ì†¡ì¼ì,ìŠ¹í•˜ì°¨êµ¬ë¶„,05ì‹œì¸ì›,06ì‹œì¸ì›,07ì‹œì¸ì›,08ì‹œì¸ì›,09ì‹œì¸ì›,...,21ì‹œì¸ì›,22ì‹œì¸ì›,23ì‹œì¸ì›,24ì‹œì¸ì›,ìš”ì¼,ì£¼ì¤‘ì£¼ë§,ë…„ë„,ì›”,ì£¼ì°¨,ê³µíœ´ì¼
0,150,ì„œìš¸ì—­,8,2023-11-01,ìŠ¹ì°¨,342,520,1929,2864,2321,...,2550,1641,753,72.0,3,DAY,2023,11,44,1
1,150,ì„œìš¸ì—­,8,2023-11-01,í•˜ì°¨,300,2166,5186,10500,6808,...,1114,734,381,108.0,3,DAY,2023,11,44,1
2,151,ì‹œì²­,8,2023-11-01,ìŠ¹ì°¨,86,157,303,415,513,...,2100,1250,399,31.0,3,DAY,2023,11,44,1
3,151,ì‹œì²­,8,2023-11-01,í•˜ì°¨,220,1014,3464,9344,4223,...,264,174,108,40.0,3,DAY,2023,11,44,1
4,152,ì¢…ê°,8,2023-11-01,ìŠ¹ì°¨,144,167,256,454,559,...,3366,2330,908,38.0,3,DAY,2023,11,44,1

In [11]:

test.columns

Index(['ì—­ì‚¬ì½”ë“œ', 'ì—­ì´ë¦„', 'í˜¸ì„ ', 'ìˆ˜ì†¡ì¼ì', 'ìŠ¹í•˜ì°¨êµ¬ë¶„', '05ì‹œì¸ì›', '06ì‹œì¸ì›', '07ì‹œì¸ì›',
       '08ì‹œì¸ì›', '09ì‹œì¸ì›', '10ì‹œì¸ì›', '11ì‹œì¸ì›', '12ì‹œì¸ì›', '13ì‹œì¸ì›', '14ì‹œì¸ì›', '15ì‹œì¸ì›',
       '16ì‹œì¸ì›', '17ì‹œì¸ì›', '18ì‹œì¸ì›', '19ì‹œì¸ì›', '20ì‹œì¸ì›', '21ì‹œì¸ì›', '22ì‹œì¸ì›', '23ì‹œì¸ì›',
       '24ì‹œì¸ì›', 'ìš”ì¼', 'ì£¼ì¤‘ì£¼ë§', 'ë…„ë„', 'ì›”', 'ì£¼ì°¨', 'ê³µíœ´ì¼'],
      dtype='object')

In [5]:
test_for_merge = test
dt_for_merge = dispatch_table.drop('í˜¸ì„ ',axis=1)

In [6]:
dt_for_merge
change_colName =[f'{i:02d}ë°°ì°¨' for i in range(5,25)]
for idx,col in enumerate(dt_for_merge.columns[2:]):
    print(idx,col,change_colName[idx])
    dt_for_merge.rename({col:change_colName[idx]},inplace=True,axis=1)
dt_for_merge

0 05 05ë°°ì°¨
1 06 06ë°°ì°¨
2 07 07ë°°ì°¨
3 08 08ë°°ì°¨
4 09 09ë°°ì°¨
5 10 10ë°°ì°¨
6 11 11ë°°ì°¨
7 12 12ë°°ì°¨
8 13 13ë°°ì°¨
9 14 14ë°°ì°¨
10 15 15ë°°ì°¨
11 16 16ë°°ì°¨
12 17 17ë°°ì°¨
13 18 18ë°°ì°¨
14 19 19ë°°ì°¨
15 20 20ë°°ì°¨
16 21 21ë°°ì°¨
17 22 22ë°°ì°¨
18 23 23ë°°ì°¨
19 24 24ë°°ì°¨

,ì—­ì‚¬ì½”ë“œ,ì£¼ì¤‘ì£¼ë§,05ë°°ì°¨,06ë°°ì°¨,07ë°°ì°¨,08ë°°ì°¨,09ë°°ì°¨,10ë°°ì°¨,11ë°°ì°¨,12ë°°ì°¨,...,15ë°°ì°¨,16ë°°ì°¨,17ë°°ì°¨,18ë°°ì°¨,19ë°°ì°¨,20ë°°ì°¨,21ë°°ì°¨,22ë°°ì°¨,23ë°°ì°¨,24ë°°ì°¨
0,150,DAY,5.5,13.5,16.5,18.0,15.5,13.5,16.5,14.0,...,15.0,15.5,17.0,16.0,15.5,14.5,14.0,11.0,9.0,1.0
1,150,SAT,4.5,10.0,13.0,14.0,12.5,12.5,14.0,13.0,...,12.0,14.5,13.5,13.5,12.5,13.5,11.5,11.5,9.5,0.5
2,151,DAY,7.0,15.0,15.0,17.5,15.0,14.5,16.0,14.0,...,14.0,16.0,17.5,15.5,15.5,14.0,14.0,11.5,8.0,1.5
3,151,SAT,6.0,10.5,12.5,13.5,13.5,11.5,14.0,13.0,...,12.5,14.5,13.0,13.5,13.0,13.0,12.0,12.0,9.0,0.0
4,152,DAY,7.0,15.0,15.5,17.5,14.5,14.5,16.5,14.0,...,14.5,16.0,17.0,16.0,15.5,14.0,14.0,11.5,8.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,2825,SAT,2.5,6.5,6.5,7.0,7.0,7.0,7.0,7.5,...,7.0,7.5,7.0,7.0,7.0,6.5,6.5,6.0,4.5,0.5
859,2826,DAY,2.5,7.5,10.0,11.0,8.0,6.5,7.0,6.5,...,6.5,6.5,8.0,9.5,9.5,8.0,7.5,6.0,5.0,0.5
860,2826,SAT,2.0,6.5,7.0,7.0,7.0,7.0,7.0,7.0,...,7.5,7.0,7.0,7.0,7.0,7.0,6.5,5.5,4.5,0.5
861,2827,DAY,0.5,3.0,4.5,5.5,5.0,3.5,3.5,3.0,...,3.0,3.5,3.5,4.5,5.0,4.5,3.5,3.5,3.0,0.5
862,2827,SAT,0.5,3.0,3.5,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,3.5,3.5,4.0,3.5,3.0,3.0,3.0,0.5

In [7]:
new_code =[]
for i in test_for_merge['ì—­ì‚¬ì½”ë“œ']:
    # print(str(type(i)),str(type("str")))
    if str(type(i)) == str(type("")):
        # print("String")
        if i.strip() == '':
            new_code.append(0)
        else:
            new_code.append(int(i.strip()))
    else:
        new_code.append(i)
    
len(set(new_code))
test_for_merge['ì—­ì‚¬ì½”ë“œ']=new_code

In [11]:
test_for_merge['ì—­ì‚¬ì½”ë“œ'].
dt_for_merge['ì—­ì‚¬ì½”ë“œ']

0       150
1       150
2       151
3       151
4       152
       ...
858    2825
859    2826
860    2826
861    2827
862    2827
Name: ì—­ì‚¬ì½”ë“œ, Length: 863, dtype: int64

In [12]:
result =pd.merge(test_for_merge,dt_for_merge,on=['ì—­ì‚¬ì½”ë“œ','ì£¼ì¤‘ì£¼ë§'])
print(result.columns)
print(result.info())
result.head(3)

Index(['ì—­ì‚¬ì½”ë“œ', 'ì—­ì´ë¦„', 'í˜¸ì„ ', 'ìˆ˜ì†¡ì¼ì', 'ìŠ¹í•˜ì°¨êµ¬ë¶„', '05ì‹œì¸ì›', '06ì‹œì¸ì›', '07ì‹œì¸ì›',
       '08ì‹œì¸ì›', '09ì‹œì¸ì›', '10ì‹œì¸ì›', '11ì‹œì¸ì›', '12ì‹œì¸ì›', '13ì‹œì¸ì›', '14ì‹œì¸ì›', '15ì‹œì¸ì›',
       '16ì‹œì¸ì›', '17ì‹œì¸ì›', '18ì‹œì¸ì›', '19ì‹œì¸ì›', '20ì‹œì¸ì›', '21ì‹œì¸ì›', '22ì‹œì¸ì›', '23ì‹œì¸ì›',
       '24ì‹œì¸ì›', 'ìš”ì¼', 'ì£¼ì¤‘ì£¼ë§', 'ë…„ë„', 'ì›”', 'ì£¼ì°¨', 'ê³µíœ´ì¼', '05ë°°ì°¨', '06ë°°ì°¨', '07ë°°ì°¨',
       '08ë°°ì°¨', '09ë°°ì°¨', '10ë°°ì°¨', '11ë°°ì°¨', '12ë°°ì°¨', '13ë°°ì°¨', '14ë°°ì°¨', '15ë°°ì°¨', '16ë°°ì°¨',
       '17ë°°ì°¨', '18ë°°ì°¨', '19ë°°ì°¨', '20ë°°ì°¨', '21ë°°ì°¨', '22ë°°ì°¨', '23ë°°ì°¨', '24ë°°ì°¨'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3958770 entries, 0 to 3958769
Data columns (total 51 columns):
 #   Column  Dtype
---  ------  -----
 0   ì—­ì‚¬ì½”ë“œ    int64
 1   ì—­ì´ë¦„     object
 2   í˜¸ì„       int64
 3   ìˆ˜ì†¡ì¼ì    object
 4   ìŠ¹í•˜ì°¨êµ¬ë¶„   object
 5   05ì‹œì¸ì›   int64
 6   06ì‹œì¸ì›   int64
 7   07ì‹œì¸ì›   int64
 8   08ì‹œì¸ì›   int64
 9   09ì‹œì¸ì›   int64
 10  10ì‹œì¸ì›   int64
 11  11ì‹œì¸ì›   int64
 12  12ì‹œì¸ì›   int64
 13  13ì‹œì¸ì›   int64
 14  14ì‹œì¸ì›   int64
 15  15ì‹œì¸ì›   int64
 16  16ì‹œì¸ì›   int64
 17  17ì‹œì¸ì›   int64
 18  18ì‹œì¸ì›   int64
 19  19ì‹œì¸ì›   int64
 20  20ì‹œì¸ì›   int64
 21  21ì‹œì¸ì›   int64
 22  22ì‹œì¸ì›   int64
 23  23ì‹œì¸ì›   int64
 24  24ì‹œì¸ì›   float64
 25  ìš”ì¼      int64
 26  ì£¼ì¤‘ì£¼ë§    object
 27  ë…„ë„      int64
 28  ì›”       int64
 29  ì£¼ì°¨      int64
 30  ê³µíœ´ì¼     int64
 31  05ë°°ì°¨    float64
 32  06ë°°ì°¨    float64
 33  07ë°°ì°¨    float64
 34  08ë°°ì°¨    float64
 35  09ë°°ì°¨    float64
 36  10ë°°ì°¨    float64
 37  11ë°°ì°¨    float64
 38  12ë°°ì°¨    float64
 39  13ë°°ì°¨    float64
 40  14ë°°ì°¨    float64
 41  15ë°°ì°¨    float64
 42  16ë°°ì°¨    float64
 43  17ë°°ì°¨    float64
 44  18ë°°ì°¨    float64
 45  19ë°°ì°¨    float64
 46  20ë°°ì°¨    float64
 47  21ë°°ì°¨    float64
 48  22ë°°ì°¨    float64
 49  23ë°°ì°¨    float64
 50  24ë°°ì°¨    float64
dtypes: float64(21), int64(26), object(4)
memory usage: 1.5+ GB
None

,ì—­ì‚¬ì½”ë“œ,ì—­ì´ë¦„,í˜¸ì„,ìˆ˜ì†¡ì¼ì,ìŠ¹í•˜ì°¨êµ¬ë¶„,05ì‹œì¸ì›,06ì‹œì¸ì›,07ì‹œì¸ì›,08ì‹œì¸ì›,09ì‹œì¸ì›,...,15ë°°ì°¨,16ë°°ì°¨,17ë°°ì°¨,18ë°°ì°¨,19ë°°ì°¨,20ë°°ì°¨,21ë°°ì°¨,22ë°°ì°¨,23ë°°ì°¨,24ë°°ì°¨
0,150,ì„œìš¸ì—­,8,2023-11-01,ìŠ¹ì°¨,342,520,1929,2864,2321,...,15.0,15.5,17.0,16.0,15.5,14.5,14.0,11.0,9.0,1.0
1,150,ì„œìš¸ì—­,8,2023-11-01,í•˜ì°¨,300,2166,5186,10500,6808,...,15.0,15.5,17.0,16.0,15.5,14.5,14.0,11.0,9.0,1.0
2,150,ì„œìš¸ì—­,8,2023-11-02,ìŠ¹ì°¨,369,562,1859,2711,2522,...,15.0,15.5,17.0,16.0,15.5,14.5,14.0,11.0,9.0,1.0

In [14]:
result.to_csv(os.path.join(data_Folder,'finalTable_18to24.csv'),index=None)

In [1]:
result.tail(3)

NameError: name 'result' is not defined