---
## ğŸ“Œ Project : í•˜ë£¨ì‹œì‘ ì§€í•˜ì²  í˜¼ì¡ë„ ë¶„ì„ - ë°ì´í„° ì •ì œ  ğŸ“ŒğŸ”¸ğŸŸ¦âœ…ğŸ…¿ï¸ğŸ†•ğŸ‰

## ğŸ“Œ Projectr : í•˜ë£¨ì‹œì‘ ì§€í•˜ì²  í˜¼ì¡ë„ ë¶„ì„ 02 
## ğŸ“Œ Description : 
    ğŸ”¸ ì„œìš¸ êµí†µê³µì‚¬ ì—­ë³„ ì¼ë³„ ì‹œê°„ëŒ€ë³„ ìŠ¹í•˜ì°¨ì¸ì› ì •ë³´
    [source link] (https://data.seoul.go.kr/dataList/OA-12921/F/1/datasetView.do#)
## ğŸ“Œ Author : Forrest Dpark (ë¶„ì„ ë‹´ë‹¹)
## ğŸ“Œ Date : 2024.05.31 ~
## ğŸ“Œ Detail : 
## ğŸ“Œ Updates : 
    ğŸŸ¦ 2024.06.02 pdg : ì¼ë³„ ë°ì´í„° ì •ì œ 
        âœ… ê¸°ì¡´ í…ŒìŠ¤íŠ¸ ë°ì´í„° ì˜ ì¼ë³„ ë°ì´í„°ê°€ ì—†ëŠ” ë¶€ë¶„ ì°¸ê³ í•˜ì—¬ ì¼ë³„ ë°ì´í„° ì¶”ì¶œ ë° ë°ì´í„° ì¹¼ëŸ¼ ì •ì œë¥¼ ì‹œì‘.
    ğŸŸ¦ 2024.06.04 pdg : ppt ë§Œë“¤ë©° ì •ë¦¬ 
        âœ… ë°ì´í„° ì •ì œì¤‘ ì¼ë¶€ í”„ë¦°íŠ¸ ê²°ê³¼ ëª…í™•í•˜ê²Œ ìˆ˜ì •í•¨. 
        âœ… ë§ˆì§€ë§‰ í…Œì´ë¸”ì— í™˜ìŠ¹ì—­ìˆ˜ ê´€ë ¨ ì¹¼ëŸ¼ì„ ì¶”ê°€í•¨. 
    ğŸŸ¦ 2024.06.09 by pdg : êµ°ì, ìƒë´‰ ê²€ìƒ‰ ì˜¤ë¥˜ ì´ìŠˆ í•´ê²° 
        âœ… ëª¨ë“ˆ ëŒ€ì²´ í• ìˆ˜ì‡ëŠ” ì½”ë“œ ëŒ€ì²´ 
        ğŸ…¿ï¸ ë¬¸ì œíŒŒì•…: station_info ë¥¼ ë§Œë“¤ë•Œ ì—­ëª… ë³„ë¡œ ì—­ì‚¬ì½”ë“œë¥¼ í•˜ë‚˜ì”©ë§Œ ì§€ì •ë˜ì–´ì„œ í™˜ìŠ¹ì—­ ì€ ì €ì¥ì´ ì•ˆë¬ë‹¤. 
        ë”°ë¼ì„œ êµ°ìì—­ì€ 5í˜¸ì„  ì½”ë“œë§Œ ì €ì¥ë˜ê³  7í˜¸ì„  ì½”ë“œëŠ” ì§€ì •ë˜ì§€ ì•Šì•„ ë‚˜ì¤‘ì— í…Œì´ë¸” ë¨¸ì§€í• ë•Œ 
        ì‚¬ë¼ì§€ê²Œ ëœê²ƒ!! 
        ë˜í•œ ìƒë´‰ì—­ ê°™ì€ ê²½ìš° () í‘œì‹œê°€ ìˆì—ˆê¸°ì— ìµœì¢…í…Œì´ë¸” ê²€ìƒ‰ ì¡°ê±´ì´ == ì´ì–´ì„œ ì‚¬ë¼ì§€ê²Œëœê²ƒ!!
        âœ… duplicate drop ì‚¬ìš©í•˜ì—¬ í•´ê²°. í•´ê²°ëœ í•¨ìˆ˜ ëª¨ë“ˆí™” ì™„ë£Œ
    ğŸŸ¦ 2024.06.10 by pdg : 08ë…„ë„ ë¶€í„° 24ë…„ê¹Œì§€ ë°ì´í„° ì¶”ê°€ 
        âœ… ê´€ì°°ê²°ê³¼ ì—‘ì…€ë°ì´í„°ì¸ 17,18,19 ë…„ë„ ìë£ŒëŠ” ì¹¼ëŸ¼ì´ë¦„ì´ unnamed ë¡œ ë‚˜ì™€ì„œ ìˆ˜ì •í•´ì•¼í•¨. 
        âœ… ëª¨ë“ ë°ì´í„° ë°›ëŠ”ë° 1ë¶„ 30 ì´ˆ ê±¸ë¦¼. 
    ğŸŸ¦ 2024.06.12 by pdg : data í™•ì¥ì„ ìœ„í•œ í•¨ìˆ˜í™” ë° import ë¬¸ì œ í•´ê²° 
        âœ… 11 ì¼ ë‚  í•˜ë˜ê²ƒ ì‚¬ë¼ì§...
        âœ… dicitionary ì •ë¦¬í•œí›„ì— import ì•ˆë˜ëŠ” ë¬¸ì œ í•´ê²°í•˜ëŠ”ê±°ê°€ ì ìš©ì´ ì•ˆë˜ì–´ìˆìŒ. 
        âœ… dictionary í™”í•´ì„œ 18ë…„ë„ ê¹Œì§€ ë°ì´í„° í™•ì¥ í• ê²ƒ 
            <- ê·¼ê±°ëŠ” 17ë…„ë„ ë°ì´í„°ê¹Œì§€  ì¹¼ëŸ¼ì´ ë¹„ìŠ·í•˜ê³  í˜¸ì„ ì •ë³´ê°€ìˆìŒ.  ê·¸ì´ì™¸ì—ëŠ” í˜¸ì„ ì¹¼ëŸ¼ì´ ì—†ì–´ì„œ ë”°ë¡œ ì •ì œ ì‘ì—…ì„ ê±°ì³ì•¼í•¨.

In [2]:
#### Jupyter Basic Setting ####
import pandas as pd,numpy as np
import matplotlib.pyplot as plt,seaborn as sns  # ì‹œê°í™”
import warnings; warnings.filterwarnings('ignore')  # ê²½ê³  ë¬´ì‹œ
import sys,os 
parent_dir = os.path.dirname(os.getcwd())
sys.path.append(parent_dir)
from Module.Functions import Service
# ê¸°ë³¸ ì„¸íŒ…
Service.plotSetting("seaborn-v0_8")

___## OS platform í•œê¸€ ì„¸íŒ…ì™„ë£Œ ## ___

In [3]:
# Data loading 
subway_dict_22_23= {
'subway23_0' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/ì„œìš¸êµí†µê³µì‚¬_ì—­ë³„ ì¼ë³„ ì‹œê°„ëŒ€ë³„ ìŠ¹í•˜ì°¨ì¸ì›_20230630.csv", encoding='euc-kr'),
'subway23_1' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/ì„œìš¸êµí†µê³µì‚¬_ì—­ë³„ ì¼ë³„ ì‹œê°„ëŒ€ë³„ ìŠ¹í•˜ì°¨ì¸ì› ì •ë³´_20231031.csv", encoding='euc-kr'),
'subway23_2' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/ì„œìš¸êµí†µê³µì‚¬_ì—­ë³„ ì¼ë³„ ì‹œê°„ëŒ€ë³„ ìŠ¹í•˜ì°¨ì¸ì› ì •ë³´_23.11_24.01.csv", encoding='euc-kr'),
'subway22' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡_á„‹á…§á†¨á„‡á…§á†¯ á„‹á…µá†¯á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†« á„Œá…¥á†¼á„‡á…©_20221231.csv", encoding='euc-kr'),
}
# subway_dict_18_21= {
# "subway21" : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2021á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1_8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway20' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2020á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1_8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway19' : pd.read_excel("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2019á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1_8á„’á…©á„‰á…¥á†«).xlsx",header=1),
# 'subway18' : pd.read_excel("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2018á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1_8á„’á…©á„‰á…¥á†«).xlsx",header=1),
# }

# subway_dict_17_14= {
# 'subway17' : pd.read_excel("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2017á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1_8á„’á…©á„‰á…¥á†«).xlsx",header=1),
# 'subway16' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2016á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway15' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2015á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway14' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2014á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# }
# subway_dict_13_11= {
# 'subway13' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2013á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway12' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2012á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway11' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2011á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# }
# subway_dict_10_08= {
# 'subway10' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2010á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway09' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2009á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr'),
# 'subway08' : pd.read_csv("../Data/êµí†µê³µì‚¬ë°ì´í„°/á„‰á…¥á„‹á…®á†¯á„€á…­á„á…©á†¼á„€á…©á†¼á„‰á…¡ 2008á„‚á…§á†« á„‹á…µá†¯á„‡á…§á†¯ á„‹á…§á†¨á„‡á…§á†¯ á„‰á…µá„€á…¡á†«á„ƒá…¢á„‡á…§á†¯ á„‰á…³á†¼á„’á…¡á„á…¡á„‹á…µá†«á„‹á…¯á†«(1~8á„’á…©á„‰á…¥á†«).csv", encoding='euc-kr')
# }

In [4]:
## Data dictionary SAve 
# np.save("../Data/DataDictionary/subway_dict_test.npy",subway_dict_22_23) ## 99.8Mb

In [10]:
subway_dict_22_23 =np.load("../Data/DataDictionary/subway_dict_test.npy",allow_pickle=True).tolist()

In [12]:
subway_dict_22_23.keys()

dict_keys(['subway23_0', 'subway23_1', 'subway23_2', 'subway22'])

In [13]:

def dataInfoPrint(data):
    Service.dataInfoProcessing(data)
    return data
for key in subway_dict_22_23.keys():
    subway_dict_22_23[key]=dataInfoPrint(subway_dict_22_23[key])
    print(f"{key.split('subway')[-1]}ë…„ë„ ë°ì´í„° ")
    subway_dict_22_23[key].head(3)

1. Data row/colum numbers : 98603/26

2. null ceck ê²°ê³¼ Null ì—†ëŠ” clean data!

3. Column  Information (ì¤‘ë³µì²´í¬)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[ì—°ë²ˆ(int64)]: 			98603/98603 [uniq/raw]
	1.[ìˆ˜ì†¡ì¼ì(object)]: 			181/98603 [uniq/raw]
	2.[í˜¸ì„ (object)]: 			8/98603 [uniq/raw]
	3.[ì—­ë²ˆí˜¸(int64)]: 			279/98603 [uniq/raw]
	4.[ì—­ëª…(object)]: 			244/98603 [uniq/raw]
	5.[ìŠ¹í•˜ì°¨êµ¬ë¶„(object)]: 			2/98603 [uniq/raw]
	 ...etc (ì¶”ê°€ë¡œ 20ê°œì˜ ì¹¼ëŸ¼ì´ ìˆìŠµë‹ˆë‹¤ )
23_0ë…„ë„ ë°ì´í„°

1. Data row/colum numbers : 165376/26

2. null ceck ê²°ê³¼ Null ì—†ëŠ” clean data!

3. Column  Information (ì¤‘ë³µì²´í¬)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[ì—°ë²ˆ(int64)]: 			165376/165376 [uniq/raw]
	1.[ìˆ˜ì†¡ì¼ì(object)]: 			304/165376 [uniq/raw]
	2.[í˜¸ì„ (object)]: 			8/165376 [uniq/raw]
	3.[ì—­ë²ˆí˜¸(int64)]: 			272/165376 [uniq/raw]
	4.[ì—­ëª…(object)]: 			239/165376 [uniq/raw]
	5.[ìŠ¹í•˜ì°¨êµ¬ë¶„(object)]: 			2/165376 [uniq/raw]
	 ...etc (ì¶”ê°€ë¡œ 20ê°œì˜ ì¹¼ëŸ¼ì´ ìˆìŠµë‹ˆë‹¤ )
23_1ë…„ë„ ë°ì´í„°

1. Data row/colum numbers : 50238/26

2. null ceck ê²°ê³¼ Null ì—†ëŠ” clean data!

3. Column  Information (ì¤‘ë³µì²´í¬)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[ì—°ë²ˆ(int64)]: 			50238/50238 [uniq/raw]
	1.[ë‚ ì§œ(object)]: 			92/50238 [uniq/raw]
	2.[í˜¸ì„ (object)]: 			8/50238 [uniq/raw]
	3.[ì—­ë²ˆí˜¸(int64)]: 			278/50238 [uniq/raw]
	4.[ì—­ëª…(object)]: 			244/50238 [uniq/raw]
	5.[êµ¬ë¶„(object)]: 			2/50238 [uniq/raw]
	 ...etc (ì¶”ê°€ë¡œ 20ê°œì˜ ì¹¼ëŸ¼ì´ ìˆìŠµë‹ˆë‹¤ )
23_2ë…„ë„ ë°ì´í„°

1. Data row/colum numbers : 199080/26

2. null ceck ê²°ê³¼ ì´ 82346ê°œì˜ null ì´ ìˆìŠµë‹ˆë‹¤!
   => 25ë²ˆì§¸.[24ì‹œì´í›„]ì»¬ëŸ¼ :  null 82346 ê°œ,	 not null 116734 ê°œ

3. Column  Information (ì¤‘ë³µì²´í¬)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[ì—°ë²ˆ(int64)]: 			199080/199080 [uniq/raw]
	1.[ìˆ˜ì†¡ì¼ì(object)]: 			365/199080 [uniq/raw]
	2.[í˜¸ì„ (int64)]: 			8/199080 [uniq/raw]
	3.[ê³ ìœ ì—­ë²ˆí˜¸(ì™¸ë¶€ì—­ì½”ë“œ)(object)]: 		558/199080 [uniq/raw]
	4.[ì—­ëª…(object)]: 			244/199080 [uniq/raw]
	5.[ìŠ¹í•˜ì°¨êµ¬ë¶„(object)]: 			2/199080 [uniq/raw]
	 ...etc (ì¶”ê°€ë¡œ 20ê°œì˜ ì¹¼ëŸ¼ì´ ìˆìŠµë‹ˆë‹¤ )
22ë…„ë„ ë°ì´í„°

In [24]:
# coloum check 
test = subway_dict_22_23['subway23_0']
test.columns
# í˜¸ì„ , ì—­ì‚¬ë²ˆí˜¸,ì—­ëª…, ìŠ¹í•˜ì°¨êµ¬ë¶„
# ì—°ë²ˆì€ drop í•œë‹¤. 
# ì—­ëª… -> ì—­ì´ë¦„
# ì—­ë²ˆí˜¸ -> ì—­ì‚¬ë²ˆí˜¸ 
test_ì—°ë²ˆì‚­ì œí›„=test.drop('ì—°ë²ˆ',axis=1)
test_ì—°ë²ˆì‚­ì œí›„.columns

test_colname_changed=test_ì—°ë²ˆì‚­ì œí›„.rename({
    'ì—­ëª…':'ì—­ì´ë¦„',
    'ì—­ë²ˆí˜¸':'ì—­ì‚¬ë²ˆí˜¸'}
    ,axis = 1
    )
test_colname_changed.columns
# í•„ìˆ˜ í•­ëª©

Index(['ìˆ˜ì†¡ì¼ì', 'í˜¸ì„ ', 'ì—­ì‚¬ë²ˆí˜¸', 'ì—­ì´ë¦„', 'ìŠ¹í•˜ì°¨êµ¬ë¶„', '06ì‹œì´ì „', '06-07ì‹œê°„ëŒ€', '07-08ì‹œê°„ëŒ€',
       '08-09ì‹œê°„ëŒ€', '09-10ì‹œê°„ëŒ€', '10-11ì‹œê°„ëŒ€', '11-12ì‹œê°„ëŒ€', '12-13ì‹œê°„ëŒ€', '13-14ì‹œê°„ëŒ€',
       '14-15ì‹œê°„ëŒ€', '15-16ì‹œê°„ëŒ€', '16-17ì‹œê°„ëŒ€', '17-18ì‹œê°„ëŒ€', '18-19ì‹œê°„ëŒ€', '19-20ì‹œê°„ëŒ€',
       '20-21ì‹œê°„ëŒ€', '21-22ì‹œê°„ëŒ€', '22-23ì‹œê°„ëŒ€', '23-24ì‹œê°„ëŒ€', '24ì‹œì´í›„'],
      dtype='object')

> 25ë²ˆì§¸ ì¹¼ëŸ¼ì¸ 24ì‹œ ì´í›„ ë°ì´í„°ì˜ null ì€ ìš´í–‰ì„ í•˜ì§€ ì•Šì•„ì„œ null ì¸ê°€?

In [ ]:
# ê´€ì‹¬ìˆëŠ” ì¹¼ëŸ¼ ì •ë³´ë§Œ ì¶”ì¶œí•´ì„œ ë³´ê¸° 
interesting_colnumbers = [i for i in range(1,7)] + [-2,-1]
print(interesting_colnumbers)
subway[subway['24ì‹œì´í›„'].isnull()].iloc[:,interesting_colnumbers].head()

[1, 2, 3, 4, 5, 6, -2, -1]

         ìˆ˜ì†¡ì¼ì  í˜¸ì„  ê³ ìœ ì—­ë²ˆí˜¸(ì™¸ë¶€ì—­ì½”ë“œ)   ì—­ëª… ìŠ¹í•˜ì°¨êµ¬ë¶„  06ì‹œì´ì „  23-24ì‹œê°„ëŒ€  24ì‹œì´í›„
0  2022-01-01   1          150  ì„œìš¸ì—­    ìŠ¹ì°¨    120       234    NaN
1  2022-01-01   1          150  ì„œìš¸ì—­    í•˜ì°¨    113       131    NaN
2  2022-01-01   1          151   ì‹œì²­    ìŠ¹ì°¨     38        38    NaN
3  2022-01-01   1          151   ì‹œì²­    í•˜ì°¨     31        24    NaN
4  2022-01-01   1          152   ì¢…ê°    ìŠ¹ì°¨     44        62    NaN

---
#### null check

In [ ]:
# null check
havenulldate = subway[subway['24ì‹œì´í›„'].isnull()].iloc[:,interesting_colnumbers]
# havenulldate['ìˆ˜ì†¡ì¼ì'].unique()[[1,2,-2,-1]]
print("** 24 ì‹œ ì´í›„ ìš´í–‰ì„í•˜ì§€ ì•Šì•„ null ì„ ê°€ì§€ê³  ìˆëŠ” ë‚ ì§œ")
havenull_test= havenulldate['ìˆ˜ì†¡ì¼ì'].unique()
# 2022 ë…„ 1 ì›” 1ì¼ë¶€í„°  5ì›” 31 ì¼ê¹Œì§€ ëŠ” 12ì‹œ ì´í›„ ì˜ì—…ì„ ì•ˆí•œ ëª¨ì–‘.. -> ì½”ë¡œë‚˜ ë‹¨ì¶•ìš´í–‰!! 
for idx, row in enumerate(havenull_test):
    if idx <1 or idx> len(havenull_test)-2:
        row_print = "\t|-"+row+" ~ " if idx<2 else row
        print(row_print, end="")
else: print(f"\n\t|-ì´ {len(havenull_test)}ê°œì˜ row ì—ì„œ null ë°œìƒ")

** 24 ì‹œ ì´í›„ ìš´í–‰ì„í•˜ì§€ ì•Šì•„ null ì„ ê°€ì§€ê³  ìˆëŠ” ë‚ ì§œ
	|-2022-01-01 ~ 2022-05-31
	|-ì´ 151ê°œì˜ row ì—ì„œ null ë°œìƒ

> Nan ì„ 0 ìœ¼ë¡œ ëŒ€ì²´

In [ ]:

# Null ì„ 0ìœ¼ë¡œ ëŒ€ì²´ 
subway=Service.dataInfoProcessing(subway,replace_Nan=True,nanFillValue=0)

1. Data row/colum numbers : 199080/26

2. null ceck ê²°ê³¼ ì´ 82346ê°œì˜ null ì´ ìˆìŠµë‹ˆë‹¤!
   => 25ë²ˆì§¸.[24ì‹œì´í›„]ì»¬ëŸ¼ :  null 82346 ê°œ,	 not null 116734 ê°œ

3. Column  Information (ì¤‘ë³µì²´í¬)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[ì—°ë²ˆ(int64)]: 			199080/199080 [uniq/raw]
	1.[ìˆ˜ì†¡ì¼ì(object)]: 			365/199080 [uniq/raw]
	2.[í˜¸ì„ (int64)]: 			8/199080 [uniq/raw]
	3.[ê³ ìœ ì—­ë²ˆí˜¸(ì™¸ë¶€ì—­ì½”ë“œ)(object)]: 		558/199080 [uniq/raw]
	4.[ì—­ëª…(object)]: 			244/199080 [uniq/raw]
	5.[ìŠ¹í•˜ì°¨êµ¬ë¶„(object)]: 			2/199080 [uniq/raw]
	6.[06ì‹œì´ì „(int64)]: 			1596/199080 [uniq/raw]
	7.[06-07ì‹œê°„ëŒ€(int64)]: 		2515/199080 [uniq/raw]
	8.[07-08ì‹œê°„ëŒ€(int64)]: 		6520/199080 [uniq/raw]
	9.[08-09ì‹œê°„ëŒ€(int64)]: 		10884/199080 [uniq/raw]
	 ...etc (ì¶”ê°€ë¡œ 16ê°œì˜ ì¹¼ëŸ¼ì´ ìˆìŠµë‹ˆë‹¤ )

>  í•´ë‹¹ ë°ì´í„°ëŠ” 8ê°œì˜ í˜¸ì„ ì´ ìˆê³  ì—­ë²ˆí˜¸ëŠ” 558ê°œ, ì—­ëª…ì€ 244 ê°œê°€ ìˆë‹¤.. ì™œ?  ì—­ë²ˆí˜¸ì™€ ì—­ ëª…ì€ 1:1 ì´ì–´ì•¼ í•˜ëŠ”ê²Œ ì•„ë‹Œê°€?

In [ ]:
## ì—­ëª… ì¡°íšŒ
# ì§€í•˜ì²  ì—­ í…Œì´ë¸” ê³¼ ì—­ë²ˆí˜¸ ë¥¼ ë”°ë¡œ ë§Œë“¤ì–´ì„œ ê´€ë¦¬í•˜ë„ë¡ í•˜ì. csv ì €ì¥ í•„ìš” 
subway_info=Service.subway_info_table(subway, save=True)

subway_info

ì²« ìˆ˜ì†¡ì¼ì : 2022-01-01
ë§ˆì§€ë§‰ ìˆ˜ì†¡ì¼ì : 2022-12-31
132480ë²ˆì§¸ ë°ì´í„°   <-value errer:
[132480]ëŠ” ê°’ì—ëŸ¬ 0 ìœ¼ë¡œ ëŒ€ì²´í•¨

     ì—­ì‚¬ì½”ë“œ    ì—­ëª…  í˜¸ì„   í™˜ìŠ¹ì—­ìˆ˜
0     150   ì„œìš¸ì—­   1     2
1     426   ì„œìš¸ì—­   4     2
2     151    ì‹œì²­   1     2
3     201    ì‹œì²­   2     2
4     152    ì¢…ê°   1     1
..    ...   ...  ..   ...
274  2649    ì‹ ë‚´   6     1
275  2758    ìƒë™   7     1
276  2761  ë¶€í‰êµ¬ì²­   7     1
277  2753   ê¹Œì¹˜ìš¸   7     1
278  2757  ë¶€ì²œì‹œì²­   7     1

[279 rows x 4 columns]

--- 
> ì—­ì½”ë“œ unique ëŠ” ì™œ 500 ê°œê°€ ë„˜ì„ê¹Œ?
> ìŠ¹ì°¨ì—ëŠ” ì—†ëŠ” ë„ì–´ì“°ê¸°ê°€ í•˜ì°¨ì—ëŠ” ìˆìŒ! ê·¸ë¦¬ê³  132480ë²ˆì§¸ ë°ì´í„°   ì—ëŠ” ë„ì–´ì“°ê¸°ê°€ ë“¤ì–´ê°€ìˆìŒ.

---
###  ë§ˆì§€ë§‰ ìˆ˜ì†¡ ì¼ìë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì—­ ì´ë¦„ê³¼ ì—­ ì½”ë“œë¥¼ íŒë³„í•œë‹¤. 

- 2024.06.09 update by pdg 
> êµ³ì´ ë§ˆì§€ë§‰ ì¼ìë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê°€ë¥¼ í•„ìš”ëŠ” ì—†ë‹¤. ì–´ì°¨í”¼ ì—­ì‚¬ ì½”ë“œëŠ”  ê³ ìœ í•¨. ê·¸ë¦¬ê³  ì¡°ì‚¬ê²°ê³¼ ìˆë‹¤ê°€ ì‚¬ë¼ì§€ëŠ” ì—­ì€ ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤.

---
#### ì—­ëª…ê³¼ ê³ ìœ ì—­ë²ˆí˜¸ê°€ ì¼ì¹˜í•˜ëŠ”ê°€?

In [ ]:
## ì—­ëª…ê³¼ ê³ ìœ ì—­ë²ˆí˜¸ê°€ ì¼ì¹˜í•˜ëŠ”ê°€?
print("ì—­ëª…ê°œìˆ˜:",len(subway_info['ì—­ëª…'].unique()),"ê³ ìœ ì—­ë²ˆí˜¸ê°œìˆ˜",len(subway_info['ì—­ì‚¬ì½”ë“œ'].unique()))
subway_info['ì—­ëª…'].value_counts()
subway_info[subway_info['ì—­ëª…']=='ì¢…ë¡œ3ê°€'].iloc[:,:].reset_index(drop=True)
# subway[subway['ê³ ìœ ì—­ë²ˆí˜¸(ì™¸ë¶€ì—­ì½”ë“œ)']==153]['í˜¸ì„ '].iloc[0]

ì—­ëª…ê°œìˆ˜: 244 ê³ ìœ ì—­ë²ˆí˜¸ê°œìˆ˜ 279

   ì—­ì‚¬ì½”ë“œ    ì—­ëª…  í˜¸ì„   í™˜ìŠ¹ì—­ìˆ˜
0   153  ì¢…ë¡œ3ê°€   1     3
1   319  ì¢…ë¡œ3ê°€   3     3
2  2535  ì¢…ë¡œ3ê°€   5     3

> ì¢…ë¡œ 3ê°€ ëŠ” 1í˜¸ì„ , 3í˜¸ì„ , 5í˜¸ì„  ì„¸ ì¢…ë¥˜ì˜ í˜¸ì„ ë§ˆë‹¤ ì—­ì´ ìˆë‹¤.     
> ì¤‘ë³µë¬¸ì œë¥¼ í”¼í•˜ê¸° ìœ„í•´ì„œ ì—­_ì´ë¦„ì½”ë“œ ë¼ëŠ” ì¹¼ëŸ¼ì„ í•˜ë‚˜ ë§Œë“¤ì–´ì„œ primary key ë¡œ ë§Œë“¤ì

In [ ]:
subway_info

     ì—­ì‚¬ì½”ë“œ    ì—­ëª…  í˜¸ì„   í™˜ìŠ¹ì—­ìˆ˜
0     150   ì„œìš¸ì—­   1     2
1     426   ì„œìš¸ì—­   4     2
2     151    ì‹œì²­   1     2
3     201    ì‹œì²­   2     2
4     152    ì¢…ê°   1     1
..    ...   ...  ..   ...
274  2649    ì‹ ë‚´   6     1
275  2758    ìƒë™   7     1
276  2761  ë¶€í‰êµ¬ì²­   7     1
277  2753   ê¹Œì¹˜ìš¸   7     1
278  2757  ë¶€ì²œì‹œì²­   7     1

[279 rows x 4 columns]

In [ ]:
# ì—­ ê°œìˆ˜ í†µê³„ ìˆ˜ì¹˜ íŒŒì•… 
subway_info.pivot_table(
    aggfunc=np.size,
    index='í˜¸ì„ ',
    values='ì—­ëª…'
).T

í˜¸ì„    1   2   3   4   5   6   7   8
ì—­ëª…  10  50  34  26  56  39  46  18

----
#### ì§€í•˜ì²  ì—­ì‚¬ì˜ ìœ„ë„ ê²½ë„ ë°ì´í„° ì¶”ê°€